$body-color: blue;

body {
	color: $body-color;
}

#submit {
	height: 2em;
	font-size: 15px;
}

.calculator {
	width: 275px;
	border: solid 1px #3a4655;
}

#calcInput button {
	width: 25%;
	background: #425062;
	color: #fff;
	padding: 20px;
	display: inline-block;
	font-size: 15px;
	text-align: center;
	vertical-align: middle;
	margin-right: -4px;
	border-right: solid 2px #3c4857;
	border-bottom: solid 2px #3c4857;
}

.calculatorOutput {
	background: #3a4655;
	color: white;
	width: 270px;
	height: 50px;
	font-size: 20px;
}

// Div container for rock,paper,scissor game
.gameContainer {
	height: 200px;
}

#userInput {
	width: 15em;
	height: 1.5em;
	font-size: 15px;
}
